.elementor-kit-7 {
    --e-global-color-primary: #234896;
    --e-global-color-secondary: #FFD046;
    --e-global-color-text: #494D56;
    --e-global-color-accent: #050A15;
    --e-global-color-9176619: #FFFFFF;
    --e-global-color-8e5a9f2: #FFFFFFC9;
    --e-global-color-1968c02: #EEF1F8;
    --e-global-color-616d24d: #B1B8C9;
    --e-global-color-04ed24a: #FFFFFF14;
    --e-global-color-0bf3461: #868A95;
    --e-global-color-785163c: #F7FAFF;
    --e-global-color-cbdbda8: #FFD046D4;
    --e-global-color-6cd4ff6: #152D5F;
    --e-global-color-3f09823: #050A15AB;
    --e-global-color-93847e2: #050A155C;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-size: 16px;
    --e-global-typography-primary-font-weight: 400;
    --e-global-typography-primary-text-transform: none;
    --e-global-typography-primary-font-style: normal;
    --e-global-typography-primary-text-decoration: none;
    --e-global-typography-primary-line-height: 1.7em;
    --e-global-typography-primary-letter-spacing: 0px;
    --e-global-typography-secondary-font-family: "Saira";
    --e-global-typography-secondary-font-size: 48px;
    --e-global-typography-secondary-font-weight: 800;
    --e-global-typography-secondary-text-transform: none;
    --e-global-typography-secondary-font-style: normal;
    --e-global-typography-secondary-text-decoration: none;
    --e-global-typography-secondary-line-height: 1.2em;
    --e-global-typography-secondary-letter-spacing: 0px;
    --e-global-typography-text-font-family: "Saira";
    --e-global-typography-text-font-size: 34px;
    --e-global-typography-text-font-weight: 700;
    --e-global-typography-text-text-transform: none;
    --e-global-typography-text-font-style: normal;
    --e-global-typography-text-text-decoration: none;
    --e-global-typography-text-line-height: 1.2em;
    --e-global-typography-text-letter-spacing: 0px;
    --e-global-typography-accent-font-family: "Saira";
    --e-global-typography-accent-font-size: 20px;
    --e-global-typography-accent-font-weight: 600;
    --e-global-typography-accent-text-transform: none;
    --e-global-typography-accent-font-style: normal;
    --e-global-typography-accent-text-decoration: none;
    --e-global-typography-accent-line-height: 1.4em;
    --e-global-typography-accent-letter-spacing: 0px;
    --e-global-typography-be0a566-font-family: "Saira";
    --e-global-typography-be0a566-font-size: 17px;
    --e-global-typography-be0a566-font-weight: 600;
    --e-global-typography-be0a566-text-transform: none;
    --e-global-typography-be0a566-font-style: normal;
    --e-global-typography-be0a566-text-decoration: none;
    --e-global-typography-be0a566-line-height: 1.4em;
    --e-global-typography-be0a566-letter-spacing: 0px;
    --e-global-typography-683aceb-font-family: "Saira";
    --e-global-typography-683aceb-font-size: 15px;
    --e-global-typography-683aceb-font-weight: 600;
    --e-global-typography-683aceb-text-transform: none;
    --e-global-typography-683aceb-font-style: normal;
    --e-global-typography-683aceb-text-decoration: none;
    --e-global-typography-683aceb-line-height: 1.4em;
    --e-global-typography-683aceb-letter-spacing: 0px;
    --e-global-typography-b5ae416-font-family: "Saira";
    --e-global-typography-b5ae416-font-size: 13px;
    --e-global-typography-b5ae416-font-weight: 600;
    --e-global-typography-b5ae416-text-transform: none;
    --e-global-typography-b5ae416-font-style: normal;
    --e-global-typography-b5ae416-text-decoration: none;
    --e-global-typography-b5ae416-line-height: 1.4em;
    --e-global-typography-b5ae416-letter-spacing: 0px;
    --e-global-typography-abd9e19-font-family: "Saira";
    --e-global-typography-abd9e19-font-size: 14px;
    --e-global-typography-abd9e19-font-weight: 700;
    --e-global-typography-abd9e19-text-transform: uppercase;
    --e-global-typography-abd9e19-font-style: normal;
    --e-global-typography-abd9e19-text-decoration: none;
    --e-global-typography-abd9e19-line-height: 1em;
    --e-global-typography-abd9e19-letter-spacing: 0.2px;
    --e-global-typography-1dd50dd-font-family: "Saira";
    --e-global-typography-1dd50dd-font-size: 14px;
    --e-global-typography-1dd50dd-font-weight: 500;
    --e-global-typography-1dd50dd-text-transform: uppercase;
    --e-global-typography-1dd50dd-font-style: normal;
    --e-global-typography-1dd50dd-text-decoration: none;
    --e-global-typography-1dd50dd-line-height: 1.4em;
    --e-global-typography-1dd50dd-letter-spacing: 0px;
    --e-global-typography-2194d76-font-family: "Saira";
    --e-global-typography-2194d76-font-size: 15px;
    --e-global-typography-2194d76-font-weight: 500;
    --e-global-typography-2194d76-text-transform: none;
    --e-global-typography-2194d76-font-style: normal;
    --e-global-typography-2194d76-text-decoration: none;
    --e-global-typography-2194d76-letter-spacing: 0px;
    --e-global-typography-04123aa-font-family: "Roboto";
    --e-global-typography-04123aa-font-size: 14px;
    --e-global-typography-04123aa-font-weight: 500;
    --e-global-typography-04123aa-text-transform: none;
    --e-global-typography-04123aa-font-style: normal;
    --e-global-typography-04123aa-text-decoration: none;
    --e-global-typography-04123aa-line-height: 1.7em;
    --e-global-typography-04123aa-letter-spacing: 0px;
    --e-global-typography-4f663ae-font-family: "Saira";
    --e-global-typography-4f663ae-font-size: 14px;
    --e-global-typography-4f663ae-font-weight: 500;
    --e-global-typography-4f663ae-text-transform: none;
    --e-global-typography-4f663ae-font-style: normal;
    --e-global-typography-4f663ae-text-decoration: none;
    --e-global-typography-4f663ae-line-height: 1.2em;
    --e-global-typography-4f663ae-letter-spacing: 0px;
    --e-global-typography-1d9042b-font-family: "Roboto";
    --e-global-typography-1d9042b-font-size: 15px;
    --e-global-typography-1d9042b-font-weight: 400;
    --e-global-typography-1d9042b-text-transform: none;
    --e-global-typography-1d9042b-font-style: normal;
    --e-global-typography-1d9042b-text-decoration: none;
    --e-global-typography-1d9042b-line-height: 1.7em;
    --e-global-typography-1d9042b-letter-spacing: 0px;
    --e-global-typography-6adbc24-font-family: "Saira";
    --e-global-typography-6adbc24-font-size: 12px;
    --e-global-typography-6adbc24-font-weight: 600;
    --e-global-typography-6adbc24-text-transform: uppercase;
    --e-global-typography-6adbc24-font-style: normal;
    --e-global-typography-6adbc24-text-decoration: none;
    --e-global-typography-6adbc24-line-height: 1em;
    --e-global-typography-6adbc24-letter-spacing: 0px;
    --e-global-typography-1a5a4e5-font-family: "Roboto";
    --e-global-typography-1a5a4e5-font-size: 14px;
    --e-global-typography-1a5a4e5-font-weight: 400;
    --e-global-typography-1a5a4e5-text-transform: none;
    --e-global-typography-1a5a4e5-font-style: normal;
    --e-global-typography-1a5a4e5-text-decoration: none;
    --e-global-typography-1a5a4e5-line-height: 1.5em;
    --e-global-typography-1a5a4e5-letter-spacing: 0px;
    --e-global-typography-09c7a87-font-family: "Roboto";
    --e-global-typography-09c7a87-font-size: 18px;
    --e-global-typography-09c7a87-font-weight: 400;
    --e-global-typography-09c7a87-text-transform: none;
    --e-global-typography-09c7a87-font-style: normal;
    --e-global-typography-09c7a87-text-decoration: none;
    --e-global-typography-09c7a87-line-height: 1.6em;
    --e-global-typography-09c7a87-letter-spacing: 0px;
    --e-global-typography-4a17210-font-family: "Saira";
    --e-global-typography-4a17210-font-size: 26px;
    --e-global-typography-4a17210-font-weight: 500;
    --e-global-typography-4a17210-font-style: normal;
    --e-global-typography-4a17210-text-decoration: none;
    --e-global-typography-4a17210-line-height: 1.5em;
    --e-global-typography-4a17210-letter-spacing: 0px;
    --e-global-typography-6663661-font-family: "Saira";
    --e-global-typography-6663661-font-size: 32px;
    --e-global-typography-6663661-font-weight: 700;
    --e-global-typography-6663661-text-transform: none;
    --e-global-typography-6663661-font-style: normal;
    --e-global-typography-6663661-text-decoration: none;
    --e-global-typography-6663661-line-height: 1.2em;
    --e-global-typography-6663661-letter-spacing: 0px;
    --e-global-typography-c6f4530-font-family: "Saira";
    --e-global-typography-c6f4530-font-size: 26px;
    --e-global-typography-c6f4530-font-weight: 700;
    --e-global-typography-c6f4530-text-transform: none;
    --e-global-typography-c6f4530-font-style: normal;
    --e-global-typography-c6f4530-text-decoration: none;
    --e-global-typography-c6f4530-line-height: 1.3em;
    --e-global-typography-c6f4530-letter-spacing: 0px;
    --e-global-typography-27bf5c4-font-family: "Saira";
    --e-global-typography-27bf5c4-font-size: 18px;
    --e-global-typography-27bf5c4-font-weight: 600;
    --e-global-typography-27bf5c4-text-transform: none;
    --e-global-typography-27bf5c4-font-style: normal;
    --e-global-typography-27bf5c4-text-decoration: none;
    --e-global-typography-27bf5c4-line-height: 1.2em;
    --e-global-typography-27bf5c4-letter-spacing: 0px;
    --e-global-typography-556c958-font-family: "Saira";
    --e-global-typography-556c958-font-size: 22px;
    --e-global-typography-556c958-font-weight: 600;
    --e-global-typography-556c958-text-transform: none;
    --e-global-typography-556c958-font-style: normal;
    --e-global-typography-556c958-text-decoration: underline;
    --e-global-typography-556c958-line-height: 1.4em;
    --e-global-typography-556c958-letter-spacing: 0.5px;
    --e-global-typography-935a7a5-font-family: "Saira";
    --e-global-typography-935a7a5-font-size: 60px;
    --e-global-typography-935a7a5-font-weight: 800;
    --e-global-typography-935a7a5-text-transform: none;
    --e-global-typography-935a7a5-font-style: normal;
    --e-global-typography-935a7a5-text-decoration: none;
    --e-global-typography-935a7a5-line-height: 1.3em;
    --e-global-typography-935a7a5-letter-spacing: 0px;
    --e-global-typography-dd6e08d-font-family: "Saira";
    --e-global-typography-dd6e08d-font-size: 44px;
    --e-global-typography-dd6e08d-font-weight: 800;
    --e-global-typography-dd6e08d-text-transform: none;
    --e-global-typography-dd6e08d-font-style: normal;
    --e-global-typography-dd6e08d-text-decoration: none;
    --e-global-typography-dd6e08d-line-height: 1.2em;
    --e-global-typography-dd6e08d-letter-spacing: 0px;
    --e-global-typography-a82deb5-font-family: "Saira";
    --e-global-typography-a82deb5-font-size: 18px;
    --e-global-typography-a82deb5-font-weight: 500;
    --e-global-typography-a82deb5-text-transform: none;
    --e-global-typography-a82deb5-font-style: normal;
    --e-global-typography-a82deb5-text-decoration: none;
    --e-global-typography-a82deb5-line-height: 1.3em;
    --e-global-typography-a82deb5-letter-spacing: 0px;
    --e-global-typography-3724264-font-family: "Saira";
    --e-global-typography-3724264-font-size: 22px;
    --e-global-typography-3724264-font-weight: 600;
    --e-global-typography-3724264-text-transform: none;
    --e-global-typography-3724264-font-style: normal;
    --e-global-typography-3724264-text-decoration: none;
    --e-global-typography-3724264-line-height: 1.4em;
    --e-global-typography-3724264-letter-spacing: 0px;
    --e-global-typography-6e9e801-font-family: "Saira";
    --e-global-typography-6e9e801-font-size: 120px;
    --e-global-typography-6e9e801-font-weight: 800;
    --e-global-typography-6e9e801-text-transform: none;
    --e-global-typography-6e9e801-font-style: normal;
    --e-global-typography-6e9e801-text-decoration: none;
    --e-global-typography-6e9e801-line-height: 1em;
    --e-global-typography-6e9e801-letter-spacing: 0px;
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    text-transform: var(--e-global-typography-primary-text-transform);
    font-style: var(--e-global-typography-primary-font-style);
    text-decoration: var(--e-global-typography-primary-text-decoration);
    line-height: var(--e-global-typography-primary-line-height);
    letter-spacing: var(--e-global-typography-primary-letter-spacing);
}

.elementor-kit-7 a {
    color: var(--e-global-color-primary);
}

.elementor-kit-7 a:hover {
    color: var(--e-global-color-secondary);
}

.elementor-kit-7 h1 {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-size: var(--e-global-typography-secondary-font-size);
    font-weight: var(--e-global-typography-secondary-font-weight);
    text-transform: var(--e-global-typography-secondary-text-transform);
    font-style: var(--e-global-typography-secondary-font-style);
    text-decoration: var(--e-global-typography-secondary-text-decoration);
    line-height: var(--e-global-typography-secondary-line-height);
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
}

.elementor-kit-7 h2 {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    text-transform: var(--e-global-typography-text-text-transform);
    font-style: var(--e-global-typography-text-font-style);
    text-decoration: var(--e-global-typography-text-text-decoration);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
}

.elementor-kit-7 h3 {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    font-style: var(--e-global-typography-accent-font-style);
    text-decoration: var(--e-global-typography-accent-text-decoration);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
}

.elementor-kit-7 h4 {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-be0a566-font-family), Sans-serif;
    font-size: var(--e-global-typography-be0a566-font-size);
    font-weight: var(--e-global-typography-be0a566-font-weight);
    text-transform: var(--e-global-typography-be0a566-text-transform);
    font-style: var(--e-global-typography-be0a566-font-style);
    text-decoration: var(--e-global-typography-be0a566-text-decoration);
    line-height: var(--e-global-typography-be0a566-line-height);
    letter-spacing: var(--e-global-typography-be0a566-letter-spacing);
    word-spacing: var(--e-global-typography-be0a566-word-spacing);
}

.elementor-kit-7 h5 {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-683aceb-font-family), Sans-serif;
    font-size: var(--e-global-typography-683aceb-font-size);
    font-weight: var(--e-global-typography-683aceb-font-weight);
    text-transform: var(--e-global-typography-683aceb-text-transform);
    font-style: var(--e-global-typography-683aceb-font-style);
    text-decoration: var(--e-global-typography-683aceb-text-decoration);
    line-height: var(--e-global-typography-683aceb-line-height);
    letter-spacing: var(--e-global-typography-683aceb-letter-spacing);
    word-spacing: var(--e-global-typography-683aceb-word-spacing);
}

.elementor-kit-7 h6 {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-b5ae416-font-family), Sans-serif;
    font-size: var(--e-global-typography-b5ae416-font-size);
    font-weight: var(--e-global-typography-b5ae416-font-weight);
    text-transform: var(--e-global-typography-b5ae416-text-transform);
    font-style: var(--e-global-typography-b5ae416-font-style);
    text-decoration: var(--e-global-typography-b5ae416-text-decoration);
    line-height: var(--e-global-typography-b5ae416-line-height);
    letter-spacing: var(--e-global-typography-b5ae416-letter-spacing);
    word-spacing: var(--e-global-typography-b5ae416-word-spacing);
}

.elementor-kit-7 button, .elementor-kit-7 input[type="button"], .elementor-kit-7 input[type="submit"], .elementor-kit-7 .elementor-button {
    font-family: var(--e-global-typography-abd9e19-font-family), Sans-serif;
    font-size: var(--e-global-typography-abd9e19-font-size);
    font-weight: var(--e-global-typography-abd9e19-font-weight);
    text-transform: var(--e-global-typography-abd9e19-text-transform);
    font-style: var(--e-global-typography-abd9e19-font-style);
    text-decoration: var(--e-global-typography-abd9e19-text-decoration);
    line-height: var(--e-global-typography-abd9e19-line-height);
    letter-spacing: var(--e-global-typography-abd9e19-letter-spacing);
    word-spacing: var(--e-global-typography-abd9e19-word-spacing);
    color: var(--e-global-color-9176619);
    background-color: var(--e-global-color-primary);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 200px 200px 200px 200px;
    padding: 14px 30px 14px 30px;
}

.elementor-kit-7 button:hover, .elementor-kit-7 button:focus, .elementor-kit-7 input[type="button"]:hover, .elementor-kit-7 input[type="button"]:focus, .elementor-kit-7 input[type="submit"]:hover, .elementor-kit-7 input[type="submit"]:focus, .elementor-kit-7 .elementor-button:hover, .elementor-kit-7 .elementor-button:focus {
    color: var(--e-global-color-accent);
    background-color: var(--e-global-color-secondary);
}

.elementor-kit-7 input:not([type="button"]):not([type="submit"]), .elementor-kit-7 textarea, .elementor-kit-7 .elementor-field-textual {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-616d24d);
    border-radius: 20px 20px 20px 20px;
}

.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1280px;
}

.e-container {
    --container-max-width: 1280px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 0px;
}

.elementor-element {
    --widgets-spacing: 0px;
}

{
}
h1.entry-title {
    display: var(--page-title-display);
}

@media (max-width: 1024px) {
    .elementor-kit-7 {
        --e-global-typography-4a17210-font-size: 24px;
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    .elementor-kit-7 h1 {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
        letter-spacing: var(--e-global-typography-secondary-letter-spacing);
    }

    .elementor-kit-7 h2 {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
    }

    .elementor-kit-7 h3 {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-kit-7 h4 {
        font-size: var(--e-global-typography-be0a566-font-size);
        line-height: var(--e-global-typography-be0a566-line-height);
        letter-spacing: var(--e-global-typography-be0a566-letter-spacing);
        word-spacing: var(--e-global-typography-be0a566-word-spacing);
    }

    .elementor-kit-7 h5 {
        font-size: var(--e-global-typography-683aceb-font-size);
        line-height: var(--e-global-typography-683aceb-line-height);
        letter-spacing: var(--e-global-typography-683aceb-letter-spacing);
        word-spacing: var(--e-global-typography-683aceb-word-spacing);
    }

    .elementor-kit-7 h6 {
        font-size: var(--e-global-typography-b5ae416-font-size);
        line-height: var(--e-global-typography-b5ae416-line-height);
        letter-spacing: var(--e-global-typography-b5ae416-letter-spacing);
        word-spacing: var(--e-global-typography-b5ae416-word-spacing);
    }

    .elementor-kit-7 button, .elementor-kit-7 input[type="button"], .elementor-kit-7 input[type="submit"], .elementor-kit-7 .elementor-button {
        font-size: var(--e-global-typography-abd9e19-font-size);
        line-height: var(--e-global-typography-abd9e19-line-height);
        letter-spacing: var(--e-global-typography-abd9e19-letter-spacing);
        word-spacing: var(--e-global-typography-abd9e19-word-spacing);
    }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 1024px;
    }

    .e-container {
        --container-max-width: 1024px;
    }
}

@media (max-width: 767px) {
    .elementor-kit-7 {
        --e-global-typography-secondary-font-size: 42px;
        --e-global-typography-935a7a5-font-size: 52px;
        --e-global-typography-dd6e08d-font-size: 34px;
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    .elementor-kit-7 h1 {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
        letter-spacing: var(--e-global-typography-secondary-letter-spacing);
    }

    .elementor-kit-7 h2 {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
    }

    .elementor-kit-7 h3 {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        letter-spacing: var(--e-global-typography-accent-letter-spacing);
    }

    .elementor-kit-7 h4 {
        font-size: var(--e-global-typography-be0a566-font-size);
        line-height: var(--e-global-typography-be0a566-line-height);
        letter-spacing: var(--e-global-typography-be0a566-letter-spacing);
        word-spacing: var(--e-global-typography-be0a566-word-spacing);
    }

    .elementor-kit-7 h5 {
        font-size: var(--e-global-typography-683aceb-font-size);
        line-height: var(--e-global-typography-683aceb-line-height);
        letter-spacing: var(--e-global-typography-683aceb-letter-spacing);
        word-spacing: var(--e-global-typography-683aceb-word-spacing);
    }

    .elementor-kit-7 h6 {
        font-size: var(--e-global-typography-b5ae416-font-size);
        line-height: var(--e-global-typography-b5ae416-line-height);
        letter-spacing: var(--e-global-typography-b5ae416-letter-spacing);
        word-spacing: var(--e-global-typography-b5ae416-word-spacing);
    }

    .elementor-kit-7 button, .elementor-kit-7 input[type="button"], .elementor-kit-7 input[type="submit"], .elementor-kit-7 .elementor-button {
        font-size: var(--e-global-typography-abd9e19-font-size);
        line-height: var(--e-global-typography-abd9e19-line-height);
        letter-spacing: var(--e-global-typography-abd9e19-letter-spacing);
        word-spacing: var(--e-global-typography-abd9e19-word-spacing);
    }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 767px;
    }

    .e-container {
        --container-max-width: 767px;
    }
}
